<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Área do Usúario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/foto.jpg" alt="pic" class="card-image"/>

      <ion-card-title>
       - Informações do Aluno -
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Nome: Kayke Bernardo</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Matricula: 23200096</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Turma:ADS301M</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
